<!DOCTYPE html>
@{
    Layout = null;
}
<html lang="en">
<head>
    <title>1Bite-1 Bite melts you</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Great+Vibes" rel="stylesheet">

    <link href="~/Content/open-iconic-bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/animate.css" rel="stylesheet" />

    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link href="~/Content/owl.carousel.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="css/owl.theme.default.min.css">
    <link href="~/Content/owl.theme.default.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="css/magnific-popup.css">
    <link href="~/Content/magnific-popup.css" rel="stylesheet" />

    <link rel="stylesheet" href="css/aos.css">
    <link href="~/Content/aos.css" rel="stylesheet" />

    <link rel="stylesheet" href="css/ionicons.min.css">
    <link href="~/Content/ionicons.min.css" rel="stylesheet" />

    <link rel="stylesheet" href="css/bootstrap-datepicker.css">
    <link href="~/Content/bootstrap-datepicker.css" rel="stylesheet" />
    <link rel="stylesheet" href="css/jquery.timepicker.css">
    <link href="~/Content/jquery.timepicker.css" rel="stylesheet" />


    <link rel="stylesheet" href="css/flaticon.css">
    <link href="~/Content/flaticon.css" rel="stylesheet" />
    <link rel="stylesheet" href="css/icomoon.css">
    <link href="~/Content/icomoon.css" rel="stylesheet" />
    <link rel="stylesheet" href="css/style.css">
    <link href="~/Content/style.css" rel="stylesheet" />
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
        <div class="container">
            <a class="navbar-brand" href="#">1Bite</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="oi oi-menu"></span> Menu
            </button>
            <div class="collapse navbar-collapse" id="ftco-nav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active"><a href="#" class="nav-link">Home</a></li>
                    <li class="nav-item"><a href="#v-pills-1" class="nav-link">Menu</a></li>
                    <li class="nav-item"><a href="#Contacts" class="nav-link">Contact</a></li>
                    <li class="nav-item"><a href="Home/Manage" class="nav-link">Manage</a></li>
                    <li class="nav-item">
                        <a href="#" class="nav-link" id="User">Hello @ViewBag.messagestaffname</a>
                        <div class="dropdown-content">
                            <a href="/Home/Logout">Logout</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- END nav -->

    <section class="home-slider owl-carousel">
        <div class="slider-item" style="background-image: url(images/Bgj1b.jpg);">
            <div class="overlay"></div>
            <div class="container">
                <div class="row slider-text justify-content-center align-items-center" data-scrollax-parent="true">

                    <div class="col-md-8 col-sm-12 text-center ftco-animate">
                        <span class="subheading">Welcome</span>
                        <h1 class="mb-4">1 Bite Melts You</h1>
                        @*<p class="mb-4 mb-md-5">A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>*@
                        <p><a href="/Home/Order" class="btn btn-primary p-3 px-xl-4 py-xl-3">Order Now</a> <a href="#Menu" class="btn btn-white btn-outline-white p-3 px-xl-4 py-xl-3">See Menu</a></p>
                    </div>

                </div>
            </div>
        </div>

        <div class="slider-item" style="background-image: url(images/bgj1b2.jpg);">
            <div class="overlay"></div>
            <div class="container">
                <div class="row slider-text justify-content-center align-items-center" data-scrollax-parent="true">

                    <div class="col-md-8 col-sm-12 text-center ftco-animate">
                        <span class="subheading">Welcome</span>
                        <h1 class="mb-4">1 Bite Melts You</h1>
                        @*<p class="mb-4 mb-md-5">A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>*@
                        <p><a href="/Home/Order" class="btn btn-primary p-3 px-xl-4 py-xl-3">Order Now</a> <a href="#Menu" class="btn btn-white btn-outline-white p-3 px-xl-4 py-xl-3">See Menu</a></p>
                    </div>

                </div>
            </div>
        </div>

        <div class="slider-item" style="background-image: url(images/bgj1b5.jpg);">
            <div class="overlay"></div>
            <div class="container">
                <div class="row slider-text justify-content-center align-items-center" data-scrollax-parent="true">

                    <div class="col-md-8 col-sm-12 text-center ftco-animate">
                        <span class="subheading">Welcome</span>
                        <h1 class="mb-4">1 Bite Melts You</h1>
                        @*<p class="mb-4 mb-md-5">A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>*@
                        <p><a href="/Home/Order" class="btn btn-primary p-3 px-xl-4 py-xl-3">Order Now</a> <a href="#Menu" class="btn btn-white btn-outline-white p-3 px-xl-4 py-xl-3">See Menu</a></p>
                    </div>

                </div>
            </div>
        </div>
    </section>

    <section class="ftco-about d-md-flex" id="About">
        <div class="one-half img" style="background-image: url(images/bgj1b4.jpg);"></div>
        <div class="one-half ftco-animate">
            <div class="overlap">
                <div class="heading-section ftco-animate ">
                    <span class="subheading">Discover</span>
                    <h2 class="mb-4">Our Story</h2>
                </div>
                <div>
                    <p>
                        Actually 1Bite could have been born a few years ago, but due to the indifference of youth that 1Bite has been put aside until now. On a sunny day with no rain, thanks to the hungry stomach satisfied with a meal, "this late plan" was forcefully awakened. Homemade - hand - made - food comes to more people with a conspiracy to fill the hungry stomachs of chef hehe.
                        We want and always try our best to build this small 1bite house. Hope that when you have a chance to visit, you will get the best feeling that 1Bite can bring...
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section class="ftco-section ftco-services">
        <div class="container">
            <div class="row">
                <div class="col-md-4 ftco-animate">
                    <div class="media d-block text-center block-6 services">
                        <div class="icon d-flex justify-content-center align-items-center mb-5">
                            <img src="~/images/icrecycle (64).png" />
                        </div>
                        <div class="media-body">
                            <h3 class="heading">Recyclable paper box</h3>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 ftco-animate">
                    <div class="media d-block text-center block-6 services">
                        <div class="icon d-flex justify-content-center align-items-center mb-5">
                            <img src="~/images/icvegetable.png" />
                        </div>
                        <div class="media-body">
                            <h3 class="heading">Quality food</h3>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 ftco-animate">
                    <div class="media d-block text-center block-6 services">
                        <div class="icon d-flex justify-content-center align-items-center mb-5">
                            <img src="~/images/icidea.png" />
                        </div>
                        <div class="media-body">
                            <h3 class="heading">Creative Dish</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="ftco-section">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-6 pr-md-5">
                    <div class="heading-section text-md-right ftco-animate">
                        <span class="subheading">Discover</span>
                        <h2 class="mb-4">Our Unique Menu</h2>
                        <p class="mb-4">Our dishes not only focus on deliciousness, but also always explore and discover new things, feelings and flavors that are not well known and in the future we will always try to create. dishes with our unique flavors, giving customers interesting and new experiences.</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="menu-entry">
                                <a href="#" class="img" style="background-image: url(images/Newdish1.JPG);"></a>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="menu-entry mt-lg-4">
                                <a href="#" class="img" style="background-image: url(images/Newdish2.JPG);"></a>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="menu-entry">
                                <a href="#" class="img" style="background-image: url(images/Newdish3.JPG);"></a>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="menu-entry mt-lg-4">
                                <a href="#" class="img" style="background-image: url(images/Newdish4.JPG);"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="ftco-menu" id="Menu">
        <div class="container">
            <div class="row justify-content-center mb-5">
                <div class="col-md-7 heading-section text-center ftco-animate">
                    <span class="subheading">Discover</span>
                    <h2 class="mb-4">Our Products</h2>
                    <p>
                        Our menu has not been fully updated yet, you can see the full menu on <a href="https://www.instagram.com/1bite.sg/"> Instagram</a>
                        <img src="~/images/heart.png" />
                    </p>
                </div>
            </div>
            <div class="row d-md-flex">
                <div class="col-lg-12 ftco-animate p-md-5">
                    <div class="row">
                        <div class="col-md-12 nav-link-wrap mb-5">
                            <div class="nav ftco-animate nav-pills justify-content-center" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                                <a class="nav-link active" id="v-pills-1-tab" data-toggle="pill" href="#v-pills-1" role="tab" aria-controls="v-pills-1" aria-selected="true">Main Dish</a>

                                <a class="nav-link" id="v-pills-2-tab" data-toggle="pill" href="#v-pills-2" role="tab" aria-controls="v-pills-2" aria-selected="false">Drink</a>

                                <a class="nav-link" id="v-pills-3-tab" data-toggle="pill" href="#v-pills-3" role="tab" aria-controls="v-pills-3" aria-selected="false">Dessert</a>
                            </div>
                        </div>
                        <div class="col-md-12 d-flex align-items-center">

                            <div class="tab-content ftco-animate" id="v-pills-tabContent">

                                <div class="tab-pane fade show active" id="v-pills-1" role="tabpanel" aria-labelledby="v-pills-1-tab">
                                    <div class="row">
                                        <div class="col-md-4 text-center">
                                            <div class="menu-wrap">
                                                <a href="#" class="menu-img img mb-4" style="background-image: url(images/Newdish5.JPG);"></a>
                                                <div class="text">
                                                    <h3><a href="#">Sticky rice with coconut water - Mixed</a></h3>
                                                    <p>Pork ribs, chicken thigh, bacon, sausage and half a peach egg with sticky rice</p>
                                                    <p class="price"><span>59.000VND</span></p>
                                                    @*<p><a href="#" class="btn btn-primary btn-outline-primary">Add to cart</a></p>*@
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4 text-center">
                                            <div class="menu-wrap">
                                                <a href="#" class="menu-img img mb-4" style="background-image: url(images/Newdish2.JPG);"></a>
                                                <div class="text">
                                                    <h3><a href="#">Spagetty - Meatballs with salted eggs</a></h3>
                                                    <p>Pasta with fragrant minced beef sauce, served with egg-coated pork balls.</p>
                                                    <p class="price"><span>59.000VND</span></p>
                                                    @*<p><a href="#" class="btn btn-primary btn-outline-primary">Add to cart</a></p>*@
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4 text-center">
                                            <div class="menu-wrap">
                                                <a href="#" class="menu-img img mb-4" style="background-image: url(images/Newdish6.JPG);"></a>
                                                <div class="text">
                                                    <h3><a href="#">Tori Katsu 2</a></h3>
                                                    <br />
                                                    <p>Crispy chicken, fried minced pork, half a peach with rice</p>
                                                    <p class="price"><span>55.000VND</span></p>
                                                    @*<p><a href="#" class="btn btn-primary btn-outline-primary">Add to cart</a></p>*@
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="tab-pane fade" id="v-pills-2" role="tabpanel" aria-labelledby="v-pills-2-tab">
                                    <div class="row">
                                        <div class="col-md-4 text-center">
                                            <div class="menu-wrap">
                                                <a href="#" class="menu-img img mb-4" style="background-image: url(images/Coming.png);"></a>
                                                <div class="text">
                                                    <h3><a href="#">Coming soon</a></h3>
                                                    <p>Currently, the restaurant is trying to come up with new dishes, in the meantime everyone can enjoy the available dishes.</p>
                                                    <p class="price"><span>Coming soon</span></p>
                                                    @*<p><a href="#" class="btn btn-primary btn-outline-primary">Add to cart</a></p>*@
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4 text-center">
                                            <div class="menu-wrap">
                                                <a href="#" class="menu-img img mb-4" style="background-image: url(images/Newdish4.JPG);"></a>
                                                <div class="text">
                                                    <h3><a href="#">Pandan tea and kumquat</a></h3>
                                                    <p>Pandan leaf tea and kumquat, really refresh after a full meal.</p>
                                                    <br />
                                                    <p class="price"><span>15.000VND</span></p>
                                                    @*<p><a href="#" class="btn btn-primary btn-outline-primary">Add to cart</a></p>*@
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4 text-center">
                                            <div class="menu-wrap">
                                                <a href="#" class="menu-img img mb-4" style="background-image: url(images/Coming.png);"></a>
                                                <div class="text">
                                                    <h3><a href="#">Coming soon</a></h3>
                                                    <p>Currently, the restaurant is trying to come up with new dishes, in the meantime everyone can enjoy the available dishes.</p>
                                                    <p class="price"><span>Coming soon</span></p>
                                                    @*<p><a href="#" class="btn btn-primary btn-outline-primary">Add to cart</a></p>*@
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="tab-pane fade" id="v-pills-3" role="tabpanel" aria-labelledby="v-pills-3-tab">
                                    <div class="row">
                                        <div class="col-md-4 text-center">
                                            <div class="menu-wrap">
                                                <a href="#" class="menu-img img mb-4" style="background-image: url(images/Coming.png);"></a>
                                                <div class="text">
                                                    <h3><a href="#">Coming soon</a></h3>
                                                    <p>Currently, the restaurant is trying to come up with new dishes, in the meantime everyone can enjoy the available dishes.</p>
                                                    <br />
                                                    <p class="price"><span>Coming soon</span></p>
                                                    @*<p><a href="#" class="btn btn-primary btn-outline-primary">Add to cart</a></p>*@
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4 text-center">
                                            <div class="menu-wrap">
                                                <a href="#" class="menu-img img mb-4" style="background-image: url(images/Newdish1.JPG);"></a>
                                                <div class="text">
                                                    <h3><a href="#">1BiterSweet</a></h3>
                                                    <p>Cheesecake is a combination of cheese, coffee and coconut milk. With the characteristic aroma of coffee, the fat of coconut milk.</p>
                                                    <p class="price"><span>39.000VND</span></p>
                                                    @*<p><a href="#" class="btn btn-primary btn-outline-primary">Add to cart</a></p>*@
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4 text-center">
                                            <div class="menu-wrap">
                                                <a href="#" class="menu-img img mb-4" style="background-image: url(images/Coming.png);"></a>
                                                <div class="text">
                                                    <h3><a href="#">Coming soon</a></h3>
                                                    <p>Currently, the restaurant is trying to come up with new dishes, in the meantime everyone can enjoy the available dishes.</p>
                                                    <br />
                                                    <p class="price"><span>Coming soon</span></p>
                                                    @*<p><a href="#" class="btn btn-primary btn-outline-primary">Add to cart</a></p>*@
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <footer class="ftco-footer ftco-section img" id="Contacts">
        <div class="overlay"></div>
        <div class="container">
            <div class="row mb-5">
                <div class="col-lg-3 col-md-6 mb-5 mb-md-5" style="margin:auto">
                    <div class="ftco-footer-widget mb-4">
                        <h2 class="ftco-heading-2">Have a Questions?</h2>
                        <div class="block-23 mb-3">
                            <ul style="white-space:nowrap">
                                <li><span class="icon icon-phone"></span>0834848030 - 0946949262</li>
                                <li><span class="icon icon-envelope"></span>1bite.sg@gmail.com</li>
                                <li>Take Order from 9:00am - 2:00am</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 mb-5 mb-md-5">
                    <div class="ftco-footer-widget mb-4">
                        <h2 class="ftco-heading-2">Follow Us</h2>
                        <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-5" style="white-space:nowrap;overflow-x:hidden">
                            <li class="ftco-animate"><a href="https://www.facebook.com/1bitesg-109780950686741"><span class="icon-facebook"></span></a></li>
                            <li class="ftco-animate"><a href="https://www.instagram.com/1bite.sg/"><span class="icon-instagram"></span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-center">

                    <p>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        Copyright &copy;
                        <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </p>
                </div>
            </div>
        </div>
    </footer>



    <!-- loader -->
    <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" /><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00" /></svg></div>


    <script src="js/jquery.min.js"></script>
    <script src="js/jquery-migrate-3.0.1.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.easing.1.3.js"></script>
    <script src="js/jquery.waypoints.min.js"></script>
    <script src="js/jquery.stellar.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/aos.js"></script>
    <script src="js/jquery.animateNumber.min.js"></script>
    <script src="js/bootstrap-datepicker.js"></script>
    <script src="js/jquery.timepicker.min.js"></script>
    <script src="js/scrollax.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
    <script src="js/google-map.js"></script>
    <script src="js/main.js"></script>

</body>
</html>

<script>
    function Dangnhap() {
        window.location.href = "/Home/Login"
    }
    function cart() {
        window.location.href = "/Home/Cart"
    }
</script>