@{
    Layout = null;
}
<link href="~/Content/css/Manage.css" rel="stylesheet" />
<html>
<head>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <meta name="viewport" content="width=device-width" />
    <title>Order</title>
</head>
<body>
    <h1>This feature will be coming out soon, if you want to order then pm <a href="https://www.instagram.com/1bite.sg/"> Instagram</a> Or <a href="https://www.facebook.com/1bitesg-109780950686741">Facebook</a> ehe ^^ </h1>
</body>
</html>
