<link href="~/Content/css/Manage.css" rel="stylesheet" />
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <h1>Quản lí</h1>
</body>
</html>
